<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="styles.css">
    <script defer src="node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <title>BulmaCSS - Color</title>
    <style>
        .palette-name {
            width: 7rem; height: 3rem; display: flex; align-items: center; justify-content: center;
        }
        .palette-color {
            width: 5rem; height: 3rem; border-radius: 0.5rem; display: flex; align-items: center; justify-content: center;
        }
        .palette-code {
            font-family: monospace; font-size: .75rem; display: flex; align-items: center; justify-content: center;
        }
    </style>
</head>
<body>

<div class="section">
    <div class="container">
        <h1 class="title">Color Shades</h1>
        <div class="content">
            <p>List of predefined colors and their shade variants. We use the name and base color from
                <a href="https://tailwindcss.com/docs/customizing-colors">TailwindCSS Colors</a>
                and feed it to the <a href="https://www.tailwindshades.com/">TailwindShades</a>
                tool to generate the following color shades list.</p>

            <p>If you just want a set of coordinated color palette, you may want to try
                <a href="https://coolors.co/palettes/trending">Coolors.co Palettes</a> instead.</p>
        </div>
        <table class="table is-size-6">
            <tr v-for="(shades, name) in colors">
                <td>
                    <div class="palette-name">{{name}}</div>
                </td>
                <td v-for="(color, shade) in shades">
                    <div class="palette-color" :style="{'background-color': color, 'color': textColor(shade)}">{{shade}}</div>
                    <div class="palette-code">{{color}}</div>
                </td>
            </tr>
        </table>
    </div>
</div>

<script src="colors.js"></script>
<script src="node_modules/vue/dist/vue.global.prod.js"></script>
<script>
    const app = {
        data() {
            return {
                colors: MY_COLOR_SHADES
            }
        },
        methods: {
            textColor(shade) {
                return parseInt(shade) >= 500 ? 'white' : 'black';
            }
        }
    };
    Vue.createApp(app).mount('body');
</script>

</body>
</html>
