<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../styles.css">
    <script defer src="../node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <title>BulmaCSS - Layout</title>
    <style>
        .columns .column {
            border-radius: 0.5rem;
        }
    </style>
</head>
<body>

<div class="section">
    <div class="container block">
        <div class="columns">
            <div class="column m-1 has-background-primary is-8">8/12 Grid</div>
            <div class="column m-1 has-background-secondary">Remaining Grid (4/12)</div>
        </div>
    </div>
    <div class="container block">
        <div class="columns">
            <div class="column m-1 has-background-primary is-4">4/12 Grid</div>
            <div class="column m-1 has-background-tertiary is-4">4/12 Grid</div>
            <div class="column m-1 has-background-secondary is-4">4/12 Grid</div>
        </div>
    </div>
    <div class="container block">
        <div class="columns">
            <div class="column m-1 has-background-primary is-12">Full 12/12 Grid</div>
        </div>
    </div>
</div>

<script src="../node_modules/vue/dist/vue.global.prod.js"></script>
<script>
    const app = {
        data() {
            return {
                message: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad architecto aspernatur aut beatae corporis et eveniet excepturi exercitationem harum, illo iste magni non optio quaerat quisquam rem voluptate! Architecto!'
            }
        }
    };
    Vue.createApp(app).mount('body');
</script>


</body>
</html>