<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../styles.css">
    <script defer src="../node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <title>BulmaCSS - Components</title>
</head>
<body>

<!-- Requires JS Support -->
<div id="app" class="section">
    <div class="container block">
        <button class="button" @click="modalIsActive = !modalIsActive">Open</button>
        <div class="modal" :class="{'is-active': modalIsActive}">
            <div class="modal-background"></div>
            <div class="modal-content">
                <p class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
                </p>
            </div>
            <button class="modal-close is-large" aria-label="close" @click="modalIsActive = !modalIsActive"></button>
        </div>
    </div>
</div>

<script src="../node_modules/vue/dist/vue.global.prod.js"></script>
<script>
    const app = {
        data() {
            return {
                modalIsActive: false
            }
        }
    };
    Vue.createApp(app).mount('#app');
</script>

</body>
</html>
